{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<!-- Date and Venue -->
<section id="date-place" class="section date-venue-section bg-dark text-white">
    <div class="container">
        <div class="info-grid">
            <!-- Removed date and place -->
            <div class="info-item">
                <div class="info-icon">📞</div>
                <h3>Контакты</h3>
                <p>+7 (777) 123-45-67</p>
                <p>info@kazrehab.kz</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}